@use '@/utils/master' as m;

.editor form {
    // background-color: red;
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;

    .add {
        h2 {
            font-size: 1.6rem;
            line-height: 1.6rem;
            text-align: center;
        }

        button {
            margin: 0 10px;
        }
    }

    .contentBlocksList {
        width: 100%;
    }

    .contentBlock {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        // padding: 20px;
        margin: 20px 0;
        display: flex;
        // flex-direction: column;
        // align-items: center;
        height: fit-content;

        width: 100%;

        position: relative;

        $actionBlock-width: 50px;

        & > div:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;

            & > div {
                margin: 10px 0;
            }

            .buttons button {
                margin: 0 10px;
            }

            width: calc(100% - $actionBlock-width);
        }

        .actionBlock {
            position: absolute;
            top: 0;
            right: 0;

            width: $actionBlock-width;
            height: 100%;

            background-color: m.$colors_accent;

            & > div:first-child {
                text-align: center;
                font-size: 1.8rem;
                padding-top: 10px;
                height: 50px;
                width: 100%;

                display: flex;
                justify-content: center;
                align-content: center;
            }

            .draggableBlock {
                width: 100%;
                height: calc(100% - 50px);

                $strips-color: rgba(255, 2550, 255, 0.3);

                cursor: grab;

                background: repeating-linear-gradient(
                    135deg,
                    transparent,
                    transparent 10px,
                    $strips-color 10px,
                    $strips-color 20px
                );
            }
        }
    }
}

.valuesList {
    // background-color: blue;
    // width: 100%;

    .value {
        background-color: rgba(m.$colors_accent, 0.1);
        // width: 100%;

        border-radius: 8px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 5px 30px;

        margin: 10px 0 15px;

        .input {
            margin: 20px;
        }

        .icons {
            margin-left: 30px;
            font-size: 1.6rem;
            .draggable {
                cursor: grab;
                margin-left: 15px;
            }
        }
    }
}

.removeIcon {
    cursor: pointer;
    &:hover {
        color: rgb(255, 101, 101);
    }
}
