.frameKeeper {
    padding-top: 100px;
}

.frame {
    background-color: rgba(255, 255, 255, 0.01);
    padding: 50px;
    border-radius: 50px;

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
