.table {
    width: 100%;

    border-collapse: collapse;

    tr {
        background-color: rgba(0, 0, 0, 0.2);

        td {
            padding: 20px;
        }
    }

    tbody {
        tr:nth-of-type(2n) {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    thead tr {
        background-color: red;
    }

    h3 {
        margin: 5px 0 0;
        font-size: 1.8rem;
    }
}

.bankAccounts {
    td:first-of-type {
        width: 300px;

        img {
            width: 100%;
        }
    }
}
