@use '@/utils/master' as m;

.footer {
    min-height: m.$footer_height;
    width: 100%;

    background-color: m.$colors_accent;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 10px;

    font-size: 1.1rem;

    p {
        padding: 0;
    }

    a {
        color: m.$font_color;
        &:hover {
            color: m.$font_color_noalpha;
            text-decoration: underline;
        }
    }

    ul {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        row-gap: 5px;
        column-gap: 10px;
        grid-auto-flow: column;

        list-style: none;

        margin: 0;
        padding: 0;
        li {
            text-decoration: underline;
        }
    }

    div {
        margin: 0 20px;
    }

    @include m.mobile {
        // font-size: 0.9rem;
    }
}
