@use '@/utils/master' as m;

.stage {
    padding: 10px 40px;

    width: 70%;

    @media (max-width: 1000px) {
        width: 100%;
        padding: 40px 20px;
    }

    width: 1200px;

    .icon {
        margin: 0 2px 0 8px;
    }

    & > p {
        margin: 20px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0;
    }

    h1 {
        margin: 20px 0 30px;

        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    h2 {
        margin: 15px 0 20px;
        font-size: 2rem;
        line-height: 2rem;
    }

    h3 {
        margin: 15px 0 20px;
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    h4 {
        margin: 10px 0 15px;
        font-size: 1.6rem;
        line-height: 1.6rem;
    }

    .part {
        margin: 10px 0;

        p {
            margin: 8px 0;
        }

        ol,
        ul {
            font-size: 1.3rem;
            line-height: 1.5rem;
        }

        .stages {
            li {
                margin: 10px 0;
            }
        }
    }

    .quote,
    q,
    p,
    .part {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    q {
        font-style: italic;
        margin: 12px 0 15px;
        margin-left: 2rem;
    }

    .quote figcaption {
        font-size: 1.2rem;
    }

    a {
        color: m.$colors_accent;

        transition: all 0.25s;
        transition-property: color, filter;

        &:hover {
            color: rgba(m.$colors_accent, 0.8);
            filter: drop-shadow(0 0 0.15rem m.$colors_accent);
        }
    }

    b {
        filter: drop-shadow(0 0 1px m.$colors_accent);
    }

    .image {
        text-align: center;
    }

    .rl {
        display: flex;
        max-width: 100%;
        justify-content: space-between;

        margin-top: 50px;

        & > ol,
        & > p {
            margin: 0;
            flex: 2;
        }

        & > div {
            flex: 2;
            p {
                margin: 5px 0 0 0;
            }
            ol {
                margin: 0;
            }
        }

        .image {
            margin: 0;
            flex: 1;
            img {
                width: 100%;
            }

            &:first-child {
                padding-right: 50px;
            }

            &:last-child {
                padding-left: 50px;
            }
        }

        @media (max-width: 1240px) {
            flex-wrap: wrap;

            .image {
                padding: 0 !important;
            }
            ol,
            p {
                padding: 0;
                flex-basis: 100%;
            }

            .image,
            ol,
            p {
                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .smallerText {
        font-size: 1.2rem;
    }
}
