@use '@/utils/master' as m;

#App {
    width: 100%;
}

a {
    text-decoration: none;
}

.content {
    min-height: calc(
        100vh - (m.$nav_height + m.$header_height + m.$footer_height)
    );

    margin: 0 auto;

    padding: 40px;

    width: 70%;

    max-width: 1200px;
    min-width: 400px;
}

.defaultFormatting {
    .header {
        text-align: center;
    }

    h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    h2 {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }
}

.hover__accent {
    @include m.hover_animation(m.$colors_accent);
}

.hover__red {
    @include m.hover_animation(#fc5151e8);
}

.hover__orange {
    @include m.hover_animation(#be6b3be8);
}

.hover__green {
    @include m.hover_animation(#3fd43fe8);
}

.hover__blue {
    @include m.hover_animation(#3f7bd4e8);
}

.draggable,
.draggable__noevent {
    cursor: grab !important;
}

.textCenter {
    text-align: center;
}

// RWS
@include m.mobile {
    :root {
        font-size: 12px;
    }

    .content {
        width: 100%;
        padding: 40px 20px;
    }
}

@include m.min {
    .content {
        width: 100%;
        padding: 40px 10px;
    }

    body {
        overflow-x: auto;
    }
}
