@use '@/utils/master' as m;

.eclipse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);

    z-index: 150;

    display: none;

    justify-content: center;
    align-items: center;

    &.open {
        display: flex;
    }

    .modal {
        width: max-content;
        height: max-content;

        .bar {
            font-size: 2rem;

            text-align: right;
            width: 100%;
            height: 2rem;
        }

        .content {
            width: 100%;
            height: 100%;
            padding: 50px 100px;
        }
    }
}
